object{
  width:800px;
  height:100%;
  padding: 0;
  margin: 0;
}

#top {
  margin: 0;
  box-shadow: 0px 0px 10px -1px #333;
  margin-bottom: 20px;
}

#yellow-bar{
  background: #d8ab4c;
  height: 6px;
}

#som-box {
  background: #333;
  margin: 0;
  padding: 0;
}

#som {
  margin: auto;
  max-width: 800px;
  align: center;
  padding: 10px;
  // border: 3px solid green;
}

#bios {
  background: #666;
}

#bios p{
  padding: 5px;
  padding-left: 13px;
  margin: auto;
  max-width: 800px;
  align: center;
  font-size: 100%;
  color: #fff;
  font-weight:bold;
  // border: 3px solid green;
}

#title-box{
  margin: 0;
  padding: 0;
  color: #111;
  background: #eee;
}

#title-box p{
  margin: auto;
  max-width: 800px;
  padding-left: 0;
  padding-right:0;
  padding-top: 125px;
  padding-bottom: 125px;
  text-align: center;
  font-size: 2.25em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.25em;
  color: #666;
  transition: all 0.8s ease 0.2s;
  // border: 3px solid green;
}

#content-box{
  padding-top: 25px;
  background: #fff;

}

#content{
  margin: auto;
  max-width: 800px;
  //border: 3px solid green;
}

#bottom-box{
  background: #fff;
}

#bottom{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: auto;
  max-width: 800px;
  padding-top: 45px;
  padding-bottom: 15px;
  color: #333;
  text-align: center;
  //border: 3px solid green;

}

a {
  color: inherit;
  text-decoration: inherit;
}

#bottom a:hover{
  color: #000;
}
