<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/sindresorhus-github-markdown-css.css">
<link rel="stylesheet" type="text/css" href="stylesheets/css.css">
</head>
  <body>
    <div id="top">
      <div id="yellow-bar">
      </div>
      <div id="som-box">
        <div id="som">
          <a href="https://medschool.vanderbilt.edu/">
          <img src="https://www4.vanderbilt.edu/asset/i/SOM-logo.jpg">
          </a>
        </div>
      </div>
      <div id="bios">
        <p><a href="https://medschool.vanderbilt.edu/biostatistics/">DEPARTMENT OF BIOSTATISTICS</a></p>
      </div>
      <div id="title-box">
        <p>{{ page.title }}</p>
      </div>
    </div>
    <div id="content-box">
      <div id="content" class = "markdown-body">
{{ content }}
      </div>
    </div>
    <div id="bottom-box">
      <div id="bottom">
      <a href="http://biostat.mc.vanderbilt.edu/ThomasStewart">{{ base.url }}</a>
      </div>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        if(n < 2) {bigify_header()};
        if(n > 1) {smallify_header()};
        var i;
        var x = document.getElementsByClassName("iframe");
        if (n > x.length) {slideIndex = x.length}
        if (n < 1) {slideIndex = 1} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";

        }
        x[slideIndex-1].style.display = "block";
        x[slideIndex-1].style.height = x[slideIndex-1].contentWindow.document.body.offsetHeight + 'px';
        setTimeout(iResize, 0);

      }

      function smallify_header() {
        $('#title-box p').css("padding","5px 13px").css("font-size","100%").css("text-align","left");
      }


      function bigify_header() {
        $('#title-box p').css("padding","125px 13px").css("font-size","2.25em").css("text-align","center");
      }

      document.onkeydown = function(e) {
          switch (e.keyCode) {
              case 37:
                  //alert('left');
                  plusDivs(-1)
                  break;
              case 38:
                  //alert('up');
                  plusDivs(-1)
                  break;
              case 39:
                  //alert('right');
                  plusDivs(1)
                  break;
              case 40:
                  //alert('down');
                  plusDivs(1)
                  break;
          }
      };

      function framesizer(){

          var iFrames = $('iframe');

        function iResize() {

          for (var i = 0, j = iFrames.length; i < j; i++) {
            iFrames[i].style.height = iFrames[i].contentWindow.document.body.offsetHeight + 'px';}
            }

            if ($.support.safari || $.support.opera) {

               iFrames.load(function(){
                   setTimeout(iResize, 0);
                 });

               for (var i = 0, j = iFrames.length; i < j; i++) {
                var iSource = iFrames[i].src;
                iFrames[i].src = '';
                iFrames[i].src = iSource;
                 }

            } else {
               iFrames.load(function() {
                   this.style.height = this.contentWindow.document.body.offsetHeight + 'px';
               });
            }

          };



    </script>
  </body>
</html>
